.photography-banner{
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: 2rem;
    background-color: #8391A1;
}
.photography{
    text-align: center;
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
}
.photography-indexSort{
    display: flex;
    margin: 1.5rem 1rem ;
    justify-content: space-between;
    align-items: center;
    padding-top: .2rem;
    font-weight: 700;
}
.photography-sort{
    padding: .5rem 1rem;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: 700;
}
.photography-indexSort p span{
    font-weight: 600;
}
.photography-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15rem;
    height: 2rem;
    border-radius: 10px;
    background: #212121;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin: 2rem auto;
    cursor: pointer;
}
.photography-loadmore:hover{
    background-color: #E7EAE5;
    color: black;
    border: 3px solid black;
}
@media(max-width: 746px){
    .photography-banner{
        max-width: 100%;
    }
}

/* .photography-sort {
    padding: 1px;
    display: flex;
    align-items: center;
    font-size: 12px;
  } */
  
  .sort-select {
    margin-left: 1px;
    width: 80px; 
  }
  
  .sort__control {
    display: flex;
    align-items: center;
  }
  
  .sort__indicators {
    display: none;
  }

.photography-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: start;
    margin: 20px auto;
    padding: 0 20px;
}

@media(max-width: 1200px){
    .photography-products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 800px){
    .photography-products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 500px){
    .photography-products {
        grid-template-columns: repeat(1, 1fr);
    }
}