.relativeproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .62rem;
    height: auto;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.relativeproducts h1{
    font-size: 2rem;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}
.relativeproducts hr{
    width: 12rem;
    height: .3rem;
    border-radius: 10px;
    color: black;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}